.default
{
    background-color: rgba(40, 165, 54, 0);
    -webkit-transition: background-color 0.5s, -webkit-transform 0.5s; /* For Safari 3.1 to 6.0 */
    transition: background-color 0.5s, transform 0.5s;
}
.walk
{
	 background-color: rgba(76, 175, 80, 0.82);
    -webkit-transition: background-color 0.5s, -webkit-transform 0.5s; /* For Safari 3.1 to 6.0 */
    transition: background-color 0.5s, transform 0.5s;
}
.help
{
	background-color: rgba(209, 228, 31, 0.82);
    -webkit-transition: background-color 0.5s, -webkit-transform 0.5s; /* For Safari 3.1 to 6.0 */
    transition: background-color 0.5s, transform 0.5s;
}
#bg input[type='button']
{
	width:20px;
	height: 20px;
	padding: 0;
    margin: 2px;
    font-size: 14x;
    /*border-style: none;*/
    border-width: thin;
    border-radius: 18%;
    border-right-color: white;
    border-bottom-color: white;
}
input[type=text],input[type=number]
{
	margin: 10px;
    height: 28px;
    border-radius: 7px;
    border-style: none;
    text-align: center;
}
#bg
{
	line-height: 0;
}
body
{/*
	background-image: url(../../public/bg_img/bunny.jpg);*/
/*	background-size: cover;
	background-repeat: no-repeat;
	font-family: 微软雅黑;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	top:0;
	left: 0;
	height: 100%;
	position: fixed;
*/
filter : progid:DXImageTransform.Microsoft.AlphaImageLoader ( sizingMethod='scale' , src='../../public/bg_img/bunny.jpg') 


}
.begin
{
	border-radius: 5px;
    height: 26px;
    background-color: rgba(184, 236, 36, 0.53);
    margin: 10px;
}
h3
{
	margin: 12px;
	font-family: 微软雅黑;
	text-align: left;
}
.body-bg-img
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url(../../public/bg_img/bunny.jpg);
	background-size: cover;
}
.container
{
	font-family: 微软雅黑;
}
#record
{
	padding-left: 30px;
	text-align: left;
}
.in
{
	background-color: red;
}
.out
{
	background-color: blue;
}
.block
{
	background-color: rgba(18, 179, 177, 0.81);
}